# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias hgs="~/dotfiles/scripts/hg-full-status.sh"
alias vgd="~/dotfiles/bin/vimdiffgit.sh"

# Usage: ls -1 | xgs "hg log %% | tail -n 4"
#alias xgs="xargs -d'\n' -I %% sh -c "
function xgs() {
    command="$@";
    xargs -d'\n' -I %% sh -c $command;
}

function _fs() {
    find . -iname "*$1*";
}

function fsf() {
    fs $@ | xgs readlink -f %%
}

alias fs='noglob _fs '

function gs() {
    #find . -type f -exec egrep your_text  {} \;
    egrep -irI "$@" .;
}

function gsb() {
    #find . -type f -exec egrep your_text  {} \;
    egrep -ir "$@" .;
}

function cb() {
    content="";
    while read line;
    do
        content+="$line\n";
    done
    echo -n "${content: : -2}" > /dev/clipboard
}

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
	colorflag="--color"
else # OS X `ls`
	colorflag="-G"
fi

# List all files colorized in long format, including dot files
alias la="ls -laF ${colorflag}"

# List only directories
alias lsd='ls -lF ${colorflag} | grep "^d"'

# Always use color output for `ls`
#alias ls="command ls ${colorflag}"
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Arcanist
alias ql='arc lint --severity warning --never-apply-patches'
alias ardi='arc diff --allow-untracked '
alias ardio='arc diff --allow-untracked --only '
alias ardip='arc diff --allow-untracked --prepare '

if [[ $SHELL == "/bin/bash" ]] then
    # Ctrl+G to delete last word from the filepath
    bind '"\C-g": unix-filename-rubout'

    alias ls="gls --color=auto"
fi

# Android development
function lc() {  
    trap 'echo "stopped writing logs";' INT;
    fname=`date "+$1%Y-%m-%d_%H:%M:%S.logcat"`; 
    adb logcat -c;
    echo "Logcat cleared";
    adb logcat -v time > "$fname"; 
    echo "Logs saved to $fname" ;
    trap - INT;
    dos2unix -f "$fname"
    open "$fname"
}

function fixlc() {
    cat $1 | sed -E 's/(\S+?)\s+(\S+?)\s+(\S+?)\s+\S+?\s+(\S+?)\s+(\S+?)\s*: (.*)/\1 \2 \4\/\5\t(\3): \6/' > out.logcat && open out.logcat
}

function adbcon() {
    ip=`adb shell ifconfig wlan0 | grep 'inet addr' | sed 's/.*inet addr:\([0-9\.]*\).*/\1/'`
    adb tcpip 5555
    adb connect $ip:5555
}

# Windows
alias subl='/cygdrive/c/Program\ Files/Sublime\ Text\ 3/sublime_text.exe'
alias wudo=cygstart --action=runas

function printargs() {
    for arg in $@
    do
        echo $arg;
    done
}

function runonargs() {
    cmd=$1
    shift
    for arg in $@
    do
        $cmd $arg;
    done
}

# fpp 
alias fpp=~/dotfiles/external/PathPicker/fpp

#function so() {
#    if [ $# -eq 0 ];
#    then
#        $(fc -ln -1) | fpp -c printargs
#    else
#        $(fc -ln -1) | fpp -c printargs | xgs "$@"
#    fi
#}

function so() {
    if [ $# -eq 0 ];
    then
        $(fc -ln -1) | fpp -c printargs
    else
        $(fc -ln -1) | fpp -c runonargs $@;
    fi
}

alias cpar="cp --parent -r"

# ZSH global aliases
alias -g OM=origin/master

alias inrooms='adb shell am force-stop com.oculus.horizon && adb shell am force-stop com.oculus.home && adb uninstall com.oculus.rooms && adb install -r '
