# Make vim the default editor
export EDITOR=vim
export VISUAL=vim

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
#export MANPAGER="less -X"

# Always enable colored `grep` output
#export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

export NPM_PACKAGES="${HOME}/.npm-packages"

# Mac
export ANDROID_SDK=/Users/slowbro/Library/Android/sdk
export ANDROID_NDK=/Users/slowbro/Library/Android/android-ndk-r12b/
#export ANDROID_HOME=${ANDROID_SDK}
#export PATH=${PATH}:${ANDROID_SDK}/tools:${ANDROID_SDK}/platform-tools
export JAVA_HOME=$(/usr/libexec/java_home)

# Windows 
#export JAVA_HOME=/cygdrive/c/Program\ Files/Java/jdk1.7.0_79/
export JAVA_HOME=/cygdrive/c/Program\ Files/Java/jdk1.8.0_102/
#export ANDROID_SDK=/cygdrive/c/Users/slowbro/AppData/Local/Android/Sdk
export ANDROID_SDK=C\:\\Users\\slowbro\\AppData\\Local\\Android\\Sdk

export ANDROID_NDK=/cygdrive/c/Libraries/android-ndk-r12b
#export ANDROID_NDK="C:\\Libraries\\android-ndk-r10e\\ndk-build.cmd"
export ANDROID_NDK_REPOSITORY=/opt/android_ndk

export ANDROID_HOME=${ANDROID_SDK}

# aapt.exe
export PATH=${PATH}:/cygdrive/c/Users/slowbro/AppData/Local/Android/sdk/build-tools/23.0.3

# yarn
export PATH=${PATH}:/cygdrive/c/Program\ Files\ \(x86\)/Yarn/bin

export PATH=${PATH}:~/dotfiles/bin:~/dotfiles/scripts
export PATH=${PATH}:${JAVA_HOME}/bin:${ANDROID_NDK}

